* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

.container {
  max-width: 91.4%;
  width: 100%;
  margin: 0 auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 4.84375%;
  width: 36.71875%;
  height: 44px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.5);
}

.menu_item {
  text-decoration: none;
  font-size: 14px;
  color: #707070;
}

.menu_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.640625%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_main_foto {
  position: absolute;
  top: 105px;
  left: 32.5%;
  width: 33.59375%;
  height: 511px;
  z-index: -2;
  background: url("../img/main_foto.jpg") center center/cover no-repeat;
}

.header_bg_foto {
  position: absolute;
  top: 0px;
  right: 0.703125%;
  width: 48.8281%;
  z-index: -3;
  height: 721px;
  background: url("../img/header_foto.jpg") center center/cover no-repeat;
}

.header_title {
  margin-top: 165px;
  font-family: Rubik Mono One;
  font-size: 30px;
  color: #414141;
  line-height: 37px;
  text-transform: uppercase;
}

.header_tagline {
  margin-top: 50px;
  font-size: 16px;
  color: #707070;
}

.header_btn {
  margin-top: 40px;
  width: 15.625%;
  height: 38px;
  border: none;
  background: #F4D991;
  font-weight: 500;
  font-size: 14px;
  color: #414141;
}

.advantages {
  margin-top: 222px;
  margin-bottom: 102px;
}

.advantages_title {
  font-family: "Rubik Mono One";
  font-size: 23px;
  color: #414141;
  padding-top: 100px;
  text-align: center;
}

.advantages_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}

.advantages_items_block {
  width: 31.375%;
  height: 261px;
  border: 1px solid #F4D991;
}

.advantages_items_block_img {
  display: block;
  padding-top: 62px;
  margin: 0 auto;
}

.advantages_items_block_info {
  margin: 0 auto;
  max-width: 250px;
  padding-top: 30px;
  line-height: 147%;
  font-weight: 400;
  font-size: 16px;
  color: #575757;
}

.advantages_items_block_info.active {
  max-width: 230px;
}

.portfolio {
  padding-top: 68px;
}

.portfolio_title {
  text-transform: uppercase;
  font-family: "Rubik Mono One";
  font-size: 23px;
  color: #414141;
}

.portfolio_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  margin-bottom: 40px;
}

.portfolio_items_img1 {
  width: 100%;
  height: 600px;
  background: url("../img/portfolio_1.jpg") center center/cover;
}

.portfolio_items_right {
  width: 100%;
  margin-left: 24.5px;
}

.portfolio_items_right_under {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio_items_right_img2 {
  width: 100%;
  height: 285px;
  background: url("../img/portfolio_2.jpg") center center/cover;
}

.portfolio_items_right_img3 {
  margin-right: 15px;
  width: 50%;
  height: 300px;
  background: url("../img/portfolio_3.jpg") center center/cover;
}

.portfolio_items_right_img4 {
  width: 50%;
  height: 300px;
  background: url("../img/portfolio_4.jpg") center center/cover;
}

.portfolio_btn {
  display: block;
  margin: 0 auto;
  width: 15.625%;
  height: 38px;
  border: none;
  background: #F4D991;
  font-weight: 500;
  font-size: 14px;
  color: #414141;
  margin-bottom: 177px;
}

.location {
  position: relative;
}

.location_header {
  background: #CBAA74;
}

.location_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 340px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location_head_title {
  text-transform: uppercase;
  font-family: "Rubik Mono One";
  font-size: 23px;
  color: #414141;
}

.location_head_more {
  margin-left: 37.5%;
  font-size: 20px;
  font-weight: 500;
  color: #414141;
}

.location_block {
  position: absolute;
  top: 218px;
  left: 12.1093%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 87.89%;
}

.location_block_photo {
  margin-bottom: 58px;
}

.location_block_photo_content {
  margin-top: 30px;
  margin-left: auto;
  width: 219px;
}

.location_block_photo_content_title {
  padding-bottom: 5px;
  margin-left: auto;
  text-align: right;
  font-size: 20px;
  font-weight: 500;
  color: #414141;
  border-bottom: 1px solid rgba(65, 65, 65, 0.4);
}

.location_block_photo_content_more {
  margin-top: 10px;
  margin-left: auto;
  text-align: right;
  font-weight: 300;
  font-size: 16px;
  colr: #414141;
}

.who_we_are {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 330px;
  padding-bottom: 190px;
  width: 691px;
  margin: 0 auto;
}

.who_we_are_info {
  margin-left: 58px;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 147%;
  color: #414141;
}

.clients_title {
  font-family: "Rubik Mono One";
  font-size: 23px;
  color: #414141;
  text-align: center;
  margin-bottom: 70px;
}

.clients_logoes {
  padding: 50px 99px 31.75px 100px;
  border: 1px solid #F4D991;
  margin-bottom: 100px;
}

.clients_logoes_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 296.25px;
}

.clients_logoes_list_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52px;
}

.clients_logoes_list_second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.clients_logoes_list_third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background: #CBAA74;
}

.footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 155px;
}

.footer_main_right {
  margin-left: 7.421875%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_main_right_content p {
  font-size: 16px;
  color: #414141;
  line-height: 136%;
}

.footer_main_right_content h2 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #414141;
}

.footer_main_right_content_list {
  list-style-type: none;
}

.footer_main_right_content_list li {
  padding-bottom: 10px;
}

.footer_main_right_content_list li.active {
  padding-bottom: 0;
}

.footer_main_right_content_list li.active2 {
  padding-bottom: 42px;
}

.footer_main_right_content_list a {
  text-decoration: none;
  font-size: 16px;
  color: #414141;
}
/*# sourceMappingURL=style.css.map */