$one_font-size: 14px
$one_color: #707070
$second_color: #414141   

@mixin title
    font-family: "Rubik Mono One"
    font-size: 23px
    color: #414141

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: Rubik, sans-serif

.container 
    max-width: 91.4%
    width: 100%
    margin: 0 auto

// HEADER
.menu 
    display: flex
    margin-top: 30px
    &_items 
        display: flex
        align-items: center
        justify-content: space-between
        margin-left: 4.84375%
        width: 36.71875%
        height: 44px
        border-bottom: 1px solid rgba(65, 65, 65, 0.5)
    &_item
        text-decoration: none
        font-size: $one_font-size
        color: $one_color
    &_links
        display: flex
        width: 6.640625%
        justify-content: space-between
        margin-left: auto
        align-items: center

.header 
    &_main_foto
        position: absolute
        top: 105px
        left: 32.5%
        width: 33.59375%
        height: 511px   
        z-index: -2
        background: url("../img/main_foto.jpg") center center/ cover no-repeat
    &_bg_foto
        position: absolute
        top: 0px
        right: 0px
        width: 48.8281%
        z-index: -3
        height: 721px
        background: url("../img/header_foto.jpg") center center/ cover no-repeat       
    &_title 
        margin-top: 165px
        font-family: Rubik Mono One
        font-size: 30px
        color: $second_color
        line-height: 37px
        text-transform: uppercase
    &_tagline
        margin-top: 50px
        font-size: 16px
        color: $one_color
    &_btn
        margin-top: 40px
        width: 15.625%
        height: 38px
        border: none
        background: #F4D991
        font-weight: 500
        font-size: $one_font-size
        color: $second_color
// END HEADER
// ADVANTAGES
.advantages
    margin-top: 222px
    margin-bottom: 102px
    &_title
        @include title
        padding-top: 100px
        text-align: center
    &_items
        display: flex
        justify-content: space-between
        margin-top: 70px
        &_block
            width: 31.375%
            height: 261px
            border: 1px solid #F4D991
            &_img
                display: block
                padding-top: 62px
                margin: 0 auto 
            &_info 
                margin: 0 auto
                max-width: 250px
                padding-top: 30px
                line-height: 147%
                font-weight: 400
                font-size: 16px
                color: #575757
            &_info.active
                max-width: 230px
// END ADVANTAGES 
// PORTFOLIO
.portfolio
    padding-top: 68px
    &_title
        text-transform: uppercase
        @include title
    &_items
        display: flex
        margin-top: 70px
        margin-bottom: 40px
        &_img1
            width: 100%
            height: 600px
            background: url("../img/portfolio_1.jpg") center center / cover 
        &_right
            width: 100%
            margin-left: 24.5px
            &_under
                margin-top: 15px
                display: flex
                justify-content: space-between
            &_img2
                width: 100%
                height: 285px
                background: url("../img/portfolio_2.jpg") center center / cover 
            &_img3
                margin-right: 15px
                width: 50%
                height: 300px
                background: url("../img/portfolio_3.jpg") center center / cover
            &_img4
                width: 50%
                height: 300px
                background: url("../img/portfolio_4.jpg") center center / cover
    &_btn
        display: block
        margin: 0 auto
        width: 15.625%
        height: 38px
        border: none
        background: #F4D991
        font-weight: 500
        font-size: $one_font-size
        color: $second_color
        margin-bottom: 177px
// END PORTFOLIO
// LOCATION
.location
    position: relative
    &_header
        background: #CBAA74
    &_head
        display: flex
        padding-top: 70px
        padding-bottom: 340px
        align-items: center
        &_title
            text-transform: uppercase
            @include title
        &_more
            margin-left: 37.5%
            font-size: 20px
            font-weight: 500
            color: $second_color
        &_navigation
            margin-left: 4.14%
    &_block
        position: absolute
        top: 218px
        left: 12.1093%
        display: flex
        justify-content: space-between
        width: 87.89%
        &_photo
            margin-bottom: 58px
            &_content 
                margin-top: 30px
                margin-left: auto
                width: 219px
                &_title
                    padding-bottom: 5px
                    margin-left: auto
                    text-align: right
                    font-size: 20px
                    font-weight: 500
                    color: $second_color
                    border-bottom: 1px solid rgba(65, 65, 65, 0.4)
                &_more
                    margin-top: 10px
                    margin-left: auto
                    text-align: right
                    font-weight: 300
                    font-size: 16px
                    colr: $second_color
// END LOCATION
// WHO WE ARE
.who_we_are 
    display: flex
    align-items: center
    padding-top: 330px // padding from location 
    padding-bottom: 190px
    width: 691px
    margin: 0 auto
    &_info
        margin-left: 58px
        font-family: "Rubik"
        font-size: 16px
        line-height: 147%
        color: $second_color
// END WHO WE ARE
// CLIENTS
.clients
    &_title
        @include title
        text-align: center
        margin-bottom: 70px
    &_logoes
        padding: 50px 99px 31.75px 100px
        border: 1px solid #F4D991
        margin-bottom: 100px
        &_list
            display: flex
            flex-direction: column
            height: 296.25px
            &_first
                display: flex
                justify-content: space-between
                align-items: center
                margin-bottom: 52px
            &_second
                display: flex
                justify-content: space-around
                align-items: center
                margin-bottom: 45px
            &_third
                display: flex
                justify-content: space-between
                align-items: center
// END CLIENTS
// FOOTER
footer
    position: relative
    background: #CBAA74
.footer_main
    display: flex
    padding-top: 70px
    padding-bottom: 155px
    &_right
        margin-left: 7.421875%
        display: flex
        width: 100%
        justify-content: space-between
        &_content p
            font-size: 16px
            color: $second_color
            line-height: 136%
    &_right_content h2
        margin-bottom: 20px
        font-weight: 500
        font-size: 20px
        color: $second_color
    &_right_content_list
        list-style-type: none
        li
            padding-bottom: 10px
        li.active
            padding-bottom: 0 
        li.active2
            padding-bottom: 42px
        a
            text-decoration: none
            font-size: 16px
            color: $second_color
//  END FOOTER    
// LINES
.portfolio_line
    position: absolute
    top: 1278px
    left: 2.65625%
.location_line
    position: absolute
    top: 117px
    left: 2.65625%
.footer_line
    position: absolute
    top: 77px
    left: 15%
// END LINES


